In [2]:
import pandas as pd
import numpy  as np 
import random
import talib
from lightweight_charts import JupyterChart

from Classes import Brain as br
from Classes import Candle as cd
from Classes import Indicator as ind
from Classes import Trade as tr

In [ ]:
ind_sma10 = ind.Indicator()
ind_sma10.SetNewBuffer(numBuffer=0, titleBuffer='SMA10', jobBuffer='DrawLine', typeWindow='SamePanel')


def My_Function(time:np.array, opens:np.array, highs:np.array, lows:np.array, closes:np.array, spread:np.array, volume:np.array):

    pass
#

In [3]:
df = pd.read_csv('./0_RawChartData/Crypto_Binance_BTCUSDT.P_5min.csv')


df['time'] = pd.to_datetime(df['DATE'] + ' ' + df['TIME'])
cols = ['time'] + [col for col in df.columns if col != 'time']
df = df[cols]

df.drop(columns=['DATE', 'TIME', 'TICKVOL'], inplace=True)
df.rename(columns={'time':'time', 'OPEN':'open', 'HIGH':'high', 'LOW':'low', 'CLOSE':'close', 'VOL':'volume', 'SPREAD':'spread'}, inplace=True)


df = df.head(200)
df

,time,open,high,low,close,volume,spread
0,2021-01-01 00:00:00,28948.19,29045.93,28935.30,29000.00,0,0
1,2021-01-01 00:05:00,29000.01,29000.01,28865.66,28882.61,0,0
2,2021-01-01 00:10:00,28882.61,28912.18,28706.00,28786.75,0,0
3,2021-01-01 00:15:00,28786.92,28886.06,28752.30,28849.31,0,0
4,2021-01-01 00:20:00,28849.31,28866.00,28761.14,28866.00,0,0
...,...,...,...,...,...,...,...
195,2021-01-01 16:15:00,29248.00,29317.18,29248.00,29290.53,0,0
196,2021-01-01 16:20:00,29291.02,29333.79,29280.96,29304.88,0,0
197,2021-01-01 16:25:00,29304.89,29350.00,29288.00,29298.81,0,0
198,2021-01-01 16:30:00,29298.81,29319.50,29271.07,29315.57,0,0
199,2021-01-01 16:35:00,29315.57,29340.86,29287.09,29311.45,0,0

In [4]:
BrainMostafaRoohy = br.Brain(df, 1000, 'TwoWay')